.content-global{
    min-width: 100vh;
    min-height: 90vh;
}
.color_white{
    color: white !important;
}
.content-header-dashboard{
    min-height: 40px;
    .status{
        .success{
            width: 10px;
            height: 10px;
            background-color: darkgreen;
            border-radius: 50%;
        }
        .grey{
            width: 10px;
            height: 10px;
            background-color: #E0E1E1;;
            border-radius: 50%;
        }
        .danger{
            width: 10px;
            height: 10px;
            background-color: darkred;
            border-radius: 50%;
        }
        .mr-2{
            margin-right: 2px;
        }
    }
}
.bg-grey{
    background-color: #E0E1E1;
}
.dark-color{
    color: black;
}
.bg-transparent{
    background: transparent !important;
}
.mb-2{
    margin-bottom: 10px !important;
}
.mr-2{
    margin-right: 5px !important;
}
.mr-3{
    margin-right:10px !important;
}

.content_sales{
    width: 100%;
    margin-top: 3rem;
    .items_sales{
        .icones_sales{
            margin: 10px;
        }
        .content-tile{
            margin-top: 15px;
            .sales_title{
                font-size: 30px;
                line-height: 11px;
                color: white;
            }
            .content_value{
                font-size: 20px;
                line-height: 11px;
                color: #172b4d;
                margin-top: 20px;
            }
        }

        .sales_value{
            font-size: 25px;
            color: #172b4d;
            line-height: 11px;
            font-weight: bold;
            margin-top: 30px;
        }
        
    }
}
.content-graph{
    margin-top: 20px;
    canvas {
        max-width: 628px;
        max-height: 314px;
    }
}

.content-profile{
    min-height: 40Vh;
    .content-info{
        margin-top: 120px;
    }
}

.avatar_society{
    background-color: transparent !important;
    align-items:unset;
}

.content-modal-delete{

    .others-description{
        font-size: 10px;
    }
}
.modal{
    @media (min-width: 576px){
        .modal-dialog {
            max-width: 600px !important;
            margin: 1.75rem auto;
        }
    }
        
}
.custom_mini_badge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top:7px;
}

.content_card{
    max-height: 120px;
    overflow: hidden;
    overflow-y: scroll;
}
.no-padding{
    padding: 0 !important;
}
.hidden_with_scroll{
    max-height: 6.25rem;
    overflow-y: scroll;
    overflow: hidden;
}
.list {
    height: 2.5rem;
    align-items: center;
    background-color: white;
    margin: 0.375rem 0;
    border-radius: 0.188rem;
    position: relative;

    .content_custom_radio {
        display: flex;
        align-items: center;

        .custom_radio{
            background-color: white;
            border: 1px solid #d7d7d7;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            margin: 12px 19px 11px 14px;
            width: 20px;
            height: 20px;

            &.active {
                border: 1px solid #1a4e63 !important;
              }
          
            &::after {
            background-color: #1a4e63 !important;
            }
        }
    }

    &.no_background {
      background: transparent;
    }

    &:hover {
      background-color: #F9FAFC !important;
    }
  }
  .position-relative{
      position: relative !important;
  }
